<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetstoreAPISuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="PetEndpointsTests">
        <classes>
            <class name="tests.PetsTests"/>
        </classes>
    </test>
</suite>